*
!Vitis2023.1/
!Vitis2023.1/ZU19_XDMA_Application/
!Vitis2023.1/ZU19_XDMA_Application/src/
!Vitis2023.1/ZU19_XDMA_Application/src/**

!Vitis2023.1/XDMATest/
!Vitis2023.1/XDMATest/export/
!Vitis2023.1/XDMATest/export/XDMATest/
!Vitis2023.1/XDMATest/export/XDMATest/hw/
!Vitis2023.1/XDMATest/export/XDMATest/hw/*.xsa

!Vivado2023.1/
!Vivado2023.1/project_1/
!Vivado2023.1/project_1/*.xsa

!README.md
!.gitignore
